*{
    box-sizing: border-box;
    
}
h2{
    margin: 5px 0;
}
h3{
    margin: 10px 0;
}
h5{
    text-decoration: underline wavy;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #F0F0F0;
    font-size: large;
    margin: 30px 30% 30px 30%;
}
.container{
    background-color: #ffffff;
    padding: 10px 20px 15px 20px;
    border: 2px solid rgb(20, 31, 26);
    border-radius: 10px;
    box-shadow: 5px 8px #BEBEBE;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select
{
    height: 35px;
    width: 100%;
    margin: 5px 5px 5px 10px;
    border-style: solid;
    border-radius: 8px;
    background-color: #F5F5F5;
    font-size: 20px;
    text-indent: 10px;
}
.checkbox{
    width: 120px;
}

.checkbox_input{
    opacity: 0;
    margin: 0px;
}
.checkbox_label{
    display: inline-block;
    width: 100%;
    /* padding: 10px 20px; */
    background: #F5F5F5;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 18px;
    color: #000000;
    text-align: center;
    transition: 0.2s ease;
}
.checkbox_label:hover{
    background: #E0E0E0;
    color: #000000;
}
.checkbox_input:checked + .checkbox_label{
    background: linear-gradient(to bottom, #343436d0, #889296e4);
    color: #ffffff;
}



textarea{
    height: 80px;
    width: 100%;
    margin: 0 5px 0 11px;
    border-radius: 8px;
    overflow: auto;
    resize: none;
}

input[type="submit"]{
    margin: 15px 0 0 10px;
    padding: 0px;
    height: 30px;
    width: 100px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.168);
    border-radius: 4px;
    background-color: #A9A9A9;
}
input[type="submit"]:hover{
    background-color: #909090;
    cursor: pointer;
}
